<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Visual Studio Code</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <h2>Subtitulo</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis natus facere eos debitis in, pariatur, tempore iste sequi quisquam eum id incidunt beatae porro cumque quaerat nemo nisi reprehenderit! Accusantium?
    </p>
</body>
</html>